*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav h2{
    font-weight: bold;
    /* box-shadow: 1px 2px 2px; */
}
nav ul li{
    list-style-type: none;
    padding: 10px;
    border-radius: 20px;
}
nav a {
    text-decoration: none;
    color: #333;
}
nav{
    /* height: 60px; */
    background-color: rgb(114, 191, 73);
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav .container ul{
    display: flex;
    /* justify-content: space-around; */
    gap: 1rem;
}
aside ul li{
    list-style-type: none;
}
aside a{
    text-decoration: none;
    color: black;
}
aside .container {
    /* display: flex;
    flex-direction: column;
    gap: 2px; */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: aquamarine;
    display: inline-block;
}
aside .container li{
    margin-bottom: 1rem;
    border: 1px solid magenta;
    padding: 10px;
    border-radius: 20px;
    width: 8rem;
    text-align: center;
}
li:hover{
    background-color: cadetblue;
}

.container{
    max-width: 1160px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
}